<div class="projects-container">
  <h1>My Projects</h1>

  <div class="projects-grid">
    <!-- Example Project Card 1 -->
    <div class="project-card">
      <img src="/assets/projects/img.png" alt="Project Image" class="project-image">
      <div class="project-content">
        <h3>Alphabet Recognition</h3>
        <p>Developed a pronunciation recognition model that identifies characters and prints their pronunciation accurately. The project leverages Python, TensorFlow, Android Studio, and TFLite.</p>
        <div class="view-project-button" style="display: flex; justify-content: center;"><a href="#" class="project-link">View Project</a></div>
      </div>
    </div>
  </div>
</div>
