<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name">Portfolio</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/home">
        <i class="bx bx-grid-alt"></i>
        <span class="link_name">Home</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Home</a></li>
      </ul>
    </li>
    <li>
      <a href="/about">
        <i class="bx bx-user"></i>
        <span class="link_name">About</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">About</a></li>
      </ul>
    </li>
    <li>
      <a href="/projects">
        <i class="bx bx-book-alt"></i>
        <span class="link_name">Projects</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Projects</a></li>
      </ul>
    </li>
    <li>
      <a href="/resume">
        <i class='bx bxs-file-doc'></i>
        <span class="link_name">Resume</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Resume</a></li>
      </ul>
    </li>
    <li>
      <a href="/contact">
        <i class="bx bx-message"></i>
        <span class="link_name">Contact</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Contact</a></li>
      </ul>
    </li>
  </ul>

  <div class="profile-details">
    <div class="profile-content">
      <img src="/assets/HomePage.JPG" alt="profileImg">
    </div>
    <div class="name-job">
      <div class="profile_name">Akhil Gollapalli</div>
      <div class="job">Developer</div>
    </div>
    <i class="bx bx-log-out"></i>
  </div>
</div>

<!-- Main content section -->
<div class="home-section">
  <div class="home-content">
    <i class='bx bx-menu'(click)="toggleSidebar()"></i>
    <span class="text"></span>
  </div>
  <router-outlet></router-outlet>
</div>
